@font-face {
    font-family: 'Raleway-ExtraBold';
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/Raleway-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway-Medium';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Raleway-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Raleway-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway-SemiBold';
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/Raleway-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Raleway-Light';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Raleway-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat-Light';
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Montserrat-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat-ExtraLight';
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/Montserrat-ExtraLight.ttf) format('truetype');
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.header {
    max-width: 1920px;
    min-height: 1024px;
    margin: 0 auto;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #555556;
    background-size: cover;
}

.header-logo-text {
    font-size: 34px;
    color: #fff;
    font-family: 'Raleway-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0 220px 0 0;
}

.global-link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
}

.header-nav-list {
    list-style: none;
    display: flex;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 285px 0;
}

.header-nav-item {
    margin: 0 30px 0 0;
}

.header-nav-item:last-child {
    margin: 0 64px 0 0;
}

.header-svg {
    fill: #fff;
}

.arrow-svg {
    fill: #fff;
    opacity: 50%;
}

.header-arrow-link {
    margin: 100px 0 0 0;
}

.header-cart-link {
    margin: 0 28px 0 0;
}

.header-slider-wrapper {
    display: flex;
    justify-content: center;
}

.header-slider-content-wrapper {
    margin: 0 475px;
}

.header-text {
    color: #fff;
    font-family: 'Raleway-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;    
    text-align: center;
    margin: 0 0 14px 0;
}

.header-heading {
    color: #fff;
    font-family: 'Raleway-ExtraBold',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 52px;    
    text-align: center; 
    margin: 0 0 20px 0;   
}

.header-text-info {
    width: 550px;
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat-Light', sans-serif;
    font-style: normal;
    font-weight: 300;  
    text-align: center;  
    margin: 0 0 32px 0; 
}

.button {
    color: #fff;
    font-size: 14px;
    font-family: 'Raleway-ExtraBold';
    font-style: normal;
    font-weight: 800;
    background-color: #998675;
    border: none;
    border-radius: 5px;
    padding: 21px 38px;
    display: block;
    margin: 0 auto 330px auto;
    text-transform: uppercase;
    cursor: pointer;
}

.settings {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 80px 0;
}

.settings-article {
    width: 25%;
    text-align: center;
}

.setting-list {
    display: flex;
    list-style: none;
    max-width: 1180px;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.settings-svg {
    fill: #555555;
    margin: 0 0 30px 0; 
}

.settings-heading {
    font-family: 'Raleway-SemiBold', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    margin: 0 0 20px 0;
}

.settings-text {
    font-family: 'Montserrat-Light', sans-serif;
    font-style: normal;
    font-weight: 300;  
    font-size: 14px;
    color: #8c8c8c;
    line-height: 24px;
}

.settings-text::after {
    content: '';
    display: block;
    width: 75px;
    height: 3px;
    background-color: #f7f5f2;
    margin: 30px auto 0 auto; 
}

.header-pagination-link:hover {
    background-color: transparent;
    border: 2px solid #6e665f;
    transform: scale(1.4);
}

form {
    display: flex;
    justify-content: space-between;
    width: 130px;
    margin: 0 auto;
}

input[type="radio"] {
    display: none;
}

.header-label-slide-1::before,
.header-label-slide-2::before,
.header-label-slide-3::before,
.header-label-slide-4::before,
.header-label-slide-5::before {
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #999898;
    border: 2px solid  #999898;
}

.header-radio-button-1:checked + label::before,
.header-radio-button-2:checked + label::before,
.header-radio-button-3:checked + label::before,
.header-radio-button-4:checked + label::before,
.header-radio-button-5:checked + label::before {
    background-color: transparent;
    border: 2px solid  #c7b299;
    transform: scale(1.4); 
}

.realization {
    background-color: #fbfaf8;
    position: relative;
    padding: 80px 0 0 0;
    max-width: 1920px;
    margin: 0 auto;
}

.realization-heading {
    font-family: 'Raleway-SemiBold', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #555555;
    text-align: center;
    margin: 0 0 20px 0;
}

.realization-text {
    width: 730px;
    font-family: 'Montserrat-Light', sans-serif;
    font-style: normal;
    font-weight: 300; 
    font-size: 16px;
    color: #8c8c8c;
    line-height: 28px;
    text-align: center;
    margin: 0 auto 25px auto;
}

.realization-img-wrapper {
    margin: 0 auto;
    min-height: 482px;
    max-width: 1240px;
    background: url(../img/realization-center770x482.jpg) no-repeat 50% 100%,
                        url(../img/realization-left770x400.jpg) no-repeat 0 100%,
                        url(../img/realization-right770x400.jpg) no-repeat 100% 100%;
}

.theme {
    display: flex;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;
    padding: 50px 0;
    background-image: linear-gradient( 90deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
}

.theme-heading {
    color: #fff;
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    margin: 0 0 8px 0;
}

.theme-waxom {
    color: #c7b299;
}

.theme-text {
    font-family: 'Montserrat-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #615855;
}

.theme-content-wrapper {
    width: 535px;
    margin: 0 470px 0 0;
}

.theme-button {
    font-family: 'Raleway-ExtraBold';
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    background-color: #998675;
    padding: 20px 30px;
    height: 75px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.projects {
    max-width: 1920px;
    margin: 0 auto;
    padding: 80px 0;
}
.projects-heading {
    font-family: 'Raleway-SemiBold';
    font-style: normal;
    font-weight: 600;
    color: #555555;
    text-align: center;
    margin: 0 0 24px 0;
    font-weight: 600;
}

.projects-text {
    font-family: 'Montserrat-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
    max-width: 730px;
    margin: 0 auto 40px auto;
}

.projects-button {
    font-family: 'Montserrat-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #8c8c8c;
    background-color: transparent;
    border: 2px solid #f4f4f4;
    padding: 11px 18px;
    border-radius: 5px;
    margin: 0 10px 40px 0;
}

.projects-button:nth-child(7) {
    margin: 0 0 40px 0;
}

.projects-button-wrapper {
    display: flex;
    justify-content: center;
}

.projects-list-item {
    list-style-type: none;
    margin: 0 30px 30px 0;
}

.projects-list-item:nth-child(3) {
    margin: 0 0 30px 0;
}

.projects-list-item:nth-child(6) {
    margin: 0 0 30px 0;
}

.project-article-content {
    width: 100%;
    background-color: #fbfaf8;
    padding: 30px;
    box-sizing: border-box;
    position: relative;
}

.project-article-content::before {
    content: '';
    border: 15px solid transparent;	
    border-bottom: 15px solid #fbfaf8;
    position: absolute;
    top: -30px;
    left: 30px;
}

.project-article {
    display: flex;
    flex-direction: column;
    position: relative;
}

.project-article-heading {
    font-family: 'Raleway-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #c7b299;  
    margin: 0 0 20px 0; 
}

.project-article-text {
    font-family: 'Montserrat-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #d1d1d1;
    font-weight: lighter;
}

.project-list {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
}

.project-button {
    font-family: 'Raleway-ExtraBold', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 45px;
    background-color: #998675;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
}

.project-button:hover,
.project-button:focus {
    background-color: #c7b299;
    outline: none;
}

.project-button:active {
    background-color: transparent;
    color: black;
}


.video {
    max-width: 1920px;
    margin: 0 auto;
}

.video-wrapper {
    position: relative;
    max-width: 1920px;
}

.video-content-wrapper {
    position: absolute;
    top: 30%;
    left: 35%;
    width: 570px;
    margin: 0 auto;
    text-align: center;
}

.video-heading {
    font-family: 'Raleway-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #fff;
    margin: 0 0 30px 0;
}

.video-text {
    font-family: 'Montserrat-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;    
    color: #fff;
    font-weight: lighter;
    line-height: 28px;
    margin: 0 0 45px 0;
}

.video-time {
    font-family: 'Montserrat-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #c7b299;
    font-weight: bolder;
}

.video-button {
    fill: #fff;
    margin: 3px 0 0 0;
}

.video-play-button {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 0 60px 0;
}

.mobile {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 100px 0 0 0;
}

.mobile-content-wrapper {
    width: 670px;
}

.mobile-heading {
    font-family: 'Raleway-SemiBold';
    font-style: normal;
    font-weight: 600;
    color: #555555;
    font-size: 30px;
    margin: 0 0 40px 0;
}

.mobile-text {
    font-size: 16px;
    line-height: 28px;
    color: #8c8c8c;
    font-family: 'Montserrat-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    margin: 0 0 20px 0;
}

.mobile-list-item {
    list-style: none;
    font-size: 16px;
    color: #8c8c8c;
    font-family: 'Montserrat-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    position: relative;
}

.mobile-list {
    margin: 0;
    padding: 0 0 0 100px;
}

.mobile-list-item::before {
    content: url(../svg/icon-list-arrow21x21.svg);
    position: absolute;
    top: 4px;
    left: -45px;
    transition: transform 1s;
}

.mobile-list-item:hover::before {
    transform: rotate(360deg);
}

.logo-link:hover .header-svg,
.logo-link:focus .header-svg {
    fill: #c7b299;
}

.logo-link:active .header-svg {
    opacity: 0.3;
}

.logo-link:hover .header-logo-text,
.logo-link:focus .header-logo-text {
    color: #c7b299;
}

.logo-link:active .header-logo-text {
    opacity: 0.3;
}

.global-link:hover,
.global-link:focus {
    color: #c7b299;
}

.header-nav-item:active .global-link {
    opacity: 0.3;
}

.header-cart-link:hover .header-svg,
.header-cart-link:focus .header-svg {
    fill: #c7b299;
}

.header-cart-link:active .header-svg {
    opacity: 0.3;
}

.button:hover,
.button:focus {
    background-color: #c7b299;
    outline: none;
}

.button:active {
    background-color: transparent;
}

.header-arrow-link:hover .arrow-svg,
.header-arrow-link:focus .arrow-svg {
    fill: #c7b299;
}

.header-arrow-link:active .arrow-svg {
    opacity: 0.3;
}

.settings-article:hover .settings-svg,
.settings-article:focus .settings-svg {
    fill: #c7b299;
}

.settings-article:hover .settings-heading,
.settings-article:focus .settings-heading {
    color: #c7b299;
}

.settings-article:hover .settings-text::after {
    background-color: #c7b299;
}

.theme-button:hover,
.theme-button:focus {
    background-color: #c7b299;
    outline: none;
}

.theme-button:active {
    background-color: transparent;
}

.projects-button:hover,
.projects-button:focus {
    background-color: #c7b299;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.projects-button:active {
    opacity: 0.3;
}

.projects-list-item:hover .project-article-content {
    background-color: #362f2d;
}

.projects-list-item:hover .project-article-content::before {
    border-bottom: 15px solid #362f2d;
}

.projects-list-item:hover .project-article-heading {
    color: #fff; 
}

.projects-list-item:hover .project-article-text {
    color: #c7b299;
}

.projects-list-item:hover .project-article-photo {
    filter: brightness(33%);
}

.project-article-button-link,
.project-article-button-search {
    width: 30px;
    height: 30px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent; 
    display: none;
    position: absolute;
    top: 30%;
}

.project-article-button-link {
    background-image: url(../svg/icon-link.svg);
    left: 30%;
}

.project-article-button-search {
    background-image: url(../svg/icon-search.svg);
    left: 55%;
}

.project-article:hover .project-article-button-link,
.project-article:hover .project-article-button-search {
    display: block;
    cursor: pointer;
}

.project-article-button-link:hover,
.project-article-button-search:hover {
    opacity: 0.5;
}

.achievements {
    max-width: 1920px;
    background-image: linear-gradient( 90deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
    margin: 0 auto;
    padding: 70px 0;
    display: flex;
    justify-content: center;
}

.achievements-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 70px 0 0;
}

.achievements-wrapper:nth-child(6) {
    margin: 0;
}

.achievements-svg {
    fill: #c7b299;
    display: block;
    margin: 0 0 30px 0;
}

.achievements-heading {
    color: #fff;
    font-family: 'Montserrat-ExtraLight';
    font-style: normal;
    font-weight: 200;
    font-size: 35px;
    margin: 0 0 20px 0;
}

.achievements-text {
    font-family: 'Montserrat-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #c7b299;
    margin: 0;
    text-transform: uppercase;
}

.achievements-text::after {
    content: '';
    display: block;
    width: 35px;
    height: 2px;
    background-color: #fff;
    margin: 30px auto 0 auto;
}

.posts {
    padding: 80px 0;
    margin: 0 auto;
}

.posts-heading {
    font-family: 'Raleway-SemiBold';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #555555;
    text-align: center;
    margin: 0 0 30px 0;
}

.posts-text {
    width: 780px;
    margin: 0 auto 45px auto;
    text-align: center;
    font-size: 16px;
    line-height: 28px;
    columns: #8c8c8c;
    font-family: 'Montserrat-Light';
    font-style: normal;
    font-weight: 300;
}

.posts-list {
    margin: 0 auto 40px auto;
    list-style: none;
    display: flex;
    max-width: 1175px;
    justify-content: space-between;
}

.posts-item {
    width: 33%;
}

.posts-item:hover .posts-img,
.posts-item:focus .posts-img {
    filter: brightness(33%);    
}

.posts-item:hover .posts-article-wrapper,
.posts-item:focus .posts-article-wrapper {
    background-color: #362f2d;
    border: none;
}

.posts-item:hover .posts-calendar,
.posts-item:focus .posts-calendar {
    background-color: #c7b299;
}

.posts-item:hover .posts-calendar-month,
.posts-item:focus .posts-calendar-month {
    background-color: #a48d72;
}

.posts-item:hover  .posts-item-heading,
.posts-item:focus  .posts-item-heading {
    color: #b4a18b;
} 

.posts-item:hover  .posts-item-text,
.posts-item:focus  .posts-item-text {
    color: #fff;
}

.posts-article-wrapper {
    width: 100%;
    padding: 23px 28px;
    box-sizing: border-box;
    border: 2px solid #f8f8f8;
    border-top: none;
    display: flex;
    flex-direction: column;
}

.posts-item-heading {
    font-size: 20px;
    color: #555555;
    font-family: 'Raleway-Medium';
    font-style: normal;
    font-weight: 500;
    margin: 0 0 25px 0;
}

.posts-item-text {
    font-size: 14px;
    line-height: 22px;
    font-family: 'Montserrat-Light';
    font-style: normal;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.posts-item-link {
    font-size: 14px;
    color: #c7b299;
    font-family: 'Montserrat-Light';
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
    position: relative;
}

.posts-item-link:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 85px;
    border: 7px solid transparent;	
    border-left: 7px solid #c7b299;
}

.posts-article {
    position: relative;
    display: flex;
    flex-direction: column;
} 

.posts-calendar {
    font-family: 'Montserrat-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    line-height: 35px;
    border-radius: 5px 5px 0 0;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    margin: 0;
    width: 50px;
    height: 35px;
    background-color: #363636;
}

.posts-calendar-month {
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    background-color: #252525;
    border-radius: 0 0 5px 5px;
    position: absolute;
    top: 55px;
    left: 20px;
    margin: 0;
    width: 50px;
    height: 25px;
}

.arrow-left::before {
    content: '<';
}

.arrow-right::before {
    content: '>';
} 

.posts-form {
    width: 80px;
}

.radio-title::before {
    content: '';
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    color: #c7b299;
    display: block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #c7b299;
}

.radio-left::before {
    content: '<';
}

.radio-right::before {
    content: '>';
}

.radio-left:checked + .radio-title:before,
.radio-right:checked + .radio-title:before {
    border-color: #d7d7d7;
    color: #d7d7d7;
}

.clients {
    margin: 0 auto;
    max-width: 1920px;
    padding: 140px 0;
    background-color: #555555;
    background-image: url(../img/clients-bg1920x489.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.clients-list {
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
}

.clients-link {
    text-decoration: none;
    transition: opacity 1s;
}

.clients-link:hover,
.clients-link:focus {
    opacity: 0.5;
}

.clents-svg {
    transition: transform 1s;
}

.clents-svg:hover {
    transform: scale(0.98);
}

.footer {
    max-width: 1920px;
    margin: 0 auto;
    padding: 80px 0 0 0;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-waxom {
    color: #fff;
    font-size: 34px;
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
}

.footer-logo-wrapper {
    display: flex;
    align-items: center;
    margin: 0 0 30px 0;
}

.footer-waxom-column-text {
    font-size: 14px;
    line-height: 24px;
    color: #555555;
    font-family: 'Montserrat-Light';
    font-style: normal;
    font-weight: 300;
    margin: 0 0 25px 0;
}

.footer-column {
    width: 275px;
    margin: 0 35px 55px 0;
}

.footer-waxom-column-link {
    color: #d1d1d1;
    font-size: 14px;
    font-family: 'Raleway-Regular';
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    position: relative;
}

.footer-waxom-column-link:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 85px;
    border: 7px solid transparent;	
    border-left: 7px solid #d1d1d1;
}

.footer-heading {
    color: #fff;
    font-size: 24px;
    font-family: 'Raleway-SemiBold';
    font-style: normal;
    font-weight: 600;
    margin: 0 0 30px 0;
    padding: 30px 0 0 0;
}

.footer-date {
    font-size: 12px;
    color: #363636;
    font-family: 'Montserrat-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    margin: 0 0 15px 0;
}

.footer-waxom-recent-text {
    font-size: 14px;
    line-height: 24px;
    color: #555555;
    font-family: 'Montserrat-Light';
    font-style: normal;
    font-weight: 300;
}

.footer-waxom-recent-text::after {
    content: '';
    display: block;
    height: 1px;
    width: 275px;
    background-color: #252525;
    margin: 25px 0 0 0;
}

.footer-column-twitter-text {
    font-family: 'Montserrat-Light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    margin: 0 0 15px 0;
}

.footer-blue-text {
    color: #00bff3;
}

.footer-gray-text {
    color: #959595;
}

.footer-twitter-date {
    font-size: 12px;
    color: #363636;
    font-family: 'Montserrat-Light', sans-serif;
    font-style: normal;
    font-weight: 300;  
}

.footer-twitter-date::after {   
    content: '';
    display: block;
    height: 1px;
    width: 275px;
    background-color: #252525;
    margin: 33px 0 20px 0; 
}

.footer-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.footer-item {
    width: 50%; 
    margin: 0 0 10px 0; 
}

.footer-column-last {
    width: 286px;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    padding: 45px 345px;
    background-color: #111111;
}

.copyright-text {
    font-family: 'Montserrat-Light';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color: #555555;
}

.footer-content-wrapper {
    display: flex;
    justify-content: center;
}

.copyright-text-gray {
    color: #959595;
}

.copyright-text-gold {
    color: #c7b299;
}

.achievements-wrapper:nth-child(2) {
    animation: test 3s ease 2;
    animation-delay: 1s;
    animation-direction: alternate;
}

.achievements-wrapper:nth-child(3) {
    animation: test 3s ease 2;
    animation-delay: 5s;
    animation-direction: alternate;
}

.achievements-wrapper:nth-child(4) {
    animation: test 3s ease 2;
    animation-delay: 9s;
    animation-direction: alternate;
}

.achievements-wrapper:nth-child(5) {
    animation: test 3s ease 2;
    animation-delay: 13s;
    animation-direction: alternate;
}

.achievements-wrapper:nth-child(6) {
    animation: test 3s ease 2;
    animation-delay: 17s;
    animation-direction: alternate;
}

@keyframes test {
    0% {
        transform: scale(1); 
    }
    100% {
        transform: scale(1.2);
    }
}

@media (max-width: 480px) {
    .header {
        min-height: 250px;
    }
    .header-nav-list {
        display: none;
    }
    .header-cart-link {
        display: none;
    }
    .header-slider-wrapper {
        display: none;
    }
    .settings-article {
        width: 50%;
    }
    .realization {
        display: none;
    }
    .theme {
        display: none;
    }
    .projects-list-item {
        width: 100%;
    }
    .project-article-content {
        width: 370px;
    }
    .projects-button {
        padding: 0;
    }
    .projects {
        padding: 0;
    }
    .video {
        display: none;
    }
    .posts-list {
        flex-wrap: wrap;
    }
    .posts-item {
        width: 90%;
    }
    .achievements {
        display: none;
    }
    .posts-text {
        max-width: 460px;
    }
    .mobile-image {
        display: none;
    }
    .mobile-heading {
        text-align: center;
    }
    .mobile-text {
        max-width: 460px;
        padding: 0 0 0 20px;
    }
    .mobile-list {
        padding: 40px;
    }
    .mobile-list-item::before {
        left: -25px;
    }
    .project-list {
        width: 370px;
        flex-direction: column;
        padding: 0;
    }
    .footer-content-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .footer-column {
        margin: 0;
    }
    .footer-copyright {
        padding: 10px 0;
        flex-direction: column;
    }
    .copyright-text {
        text-align: center;
        margin: 10px 0;
    }
    .clients-list {
        flex-wrap: wrap;
        padding: 0;
        justify-content: center;
    }
    .clients {
        padding: 70px 0;
    }
} 

